<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'patoo.jpg', class: 'img-fluid' %>
    </div>
  </div>

  <p>This Splurty app was built by <a href="https://github.com/emhanson08/Splurty"> Elizabeth Hanson</a>. She is a junior software engineer currently seeking new opportunities.</p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />